// global.scss
@import "./theme.scss";
* {
 box-sizing: border-box;
}
html, body {
 margin: 0;
 padding: 0;
 color: white;
 background-color: #4c4c4c;


 .card {
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
        0px 3px 4px 0px rgba(0, 0, 0, 0.14),
        0px 1px 8px 0px rgba(0, 0, 0, 0.12);
 background-color: #2f3437;
 padding: 1rem;

}
}

main {
    //	position: relative;
    max-width: 65em;
    margin: 2rem auto 0 auto;
    box-sizing: border-box;

    &.add-bg-opacity {
        &::before {
            content: "";
            width: 100vw;
            height: 100vh;
            opacity: 0.75;
            background-color: grey;
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: 1;
        }
    }

    button {
        padding: 0.5rem;
    }
}




button {
    color: white;
    background-color: #2542e8;
    border-radius: 8px;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color .5s; 

    &.paused {
      background-color: #158a17;

    }

    &.playing {
        background-color: #b81a1a

    }

    &.close {
        background-color: #f5c431;
    }
    &.pitch-button {
        background-color: #FFFFF0;
        margin: 0.1rem;
        color: black;

        &:hover {
            box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
        }
        
    }
    &.halftone {
        color: white;
        background-color: black;
    }
}

button:hover {
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

button:active {
    background-color: #3e8e41;
    transform: translateY(1px);
}

button:disabled {
    background-color: grey;
    &:hover {
     box-shadow: none;   
    }
}

select {
    padding: .5rem;
    border: none;
    outline: none;
}


